<br>
<h1>Welcome to Have A Life</h1>
<div id="graphic" style="float:right">
    <img class="ui centered image" src="/assets/images/haveALife.png">
</div>
<p>
    While this app can easily schedule events at specific times like your google calandar 
    already does, the real reason to use it is to help you create SMART action plans.
    <br><br>
    A SMART action plan is something Specific, Measurable, Achievable, Realistic and Timely. 
    <br><br>
    They are used to help you achieve goals that require more work than you can (or should) 
    do in one sitting. 
    <br><br>
    It also takes your wellness into account by scheduling wellness events 
    for you to encourage taking care of yourself even when your schedule gets harried. 
    <br><br>
    With this being said, it is a great idea to put some thought into how you decide to split up 
    larger tasks into smaller acheivable tasks. When considering a large task, think about 
    what the smaller tasks are that make up this large task.
    <br><br>
    Putting a little thought in your action plan is essential to allow busy people like you to 
    <h3>Have A Life</h3>
</p>