<div class="ui attached stackable inverted menu" style="background-color:#0c9417; color: #FFFFFF">
 <a class="item">
 <i class="home icon"></i> {{#link-to "home"}}Home {{/link-to}}
 </a>
 <a class="item">{{#link-to "about"}}About {{/link-to}}</a>
 <a class="item">{{#link-to "scheduletask"}}Schedule Task{{/link-to}}</a>
 <div class="right menu">
 <a class="ui item">{{#link-to "preferences"}} Preferences {{/link-to}}</a>
</div>
</div>
<div class="ui container">
{{outlet}}
</div>
<br>
<div class="ui padded grid" style="background-color: #0c9417; color: #FFFFFF;">
 <div class="fourteen wide column">
     <br>
     GET A LIFE website, powered by Hack Western 2018
     <br>
 © Copyright – Lil Bobby '(;DROP TABLES Students'
 <br>
 </div>
 
 <div class="two wide column">
 <img class="ui tiny centered image" src="/assets/images/haveALifeInverted.png">
 </div>
</div>